requests
flask
flask-bootstrap
flask-iniconfig
flask-markdown
flask-nav
Flask-WTF
PyYAML
rauth
-e git+https://github.com/tarekziade/restjson.git#egg=restjson
-e git+https://github.com/tarekziade/smwogger#egg=smwogger
