<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Project</th>
        <th>QA Team</th>
        <th>Ops Team</th>
        <th>Dev Team</th>
        <th>Testing Completion</th>
      </tr>
    </thead>
    <tbody>
    {% for project in projects %}
      <tr>
        <td><a href="/projects/{{project.id}}">{{project.name}}</a></td>
        <td>
          {% if project.qa_primary_id %}
            <a href="/users/{{project.qa_primary_id}}">{{project.qa_primary|fullname}}</a>
          {% endif %}
          {% if project.qa_secondary_id %}
            + <a href="/users/{{project.qa_secondary_id}}">{{project.qa_secondary|fullname}}</a>
          {% endif %}
        </td>
        <td>
          {% if project.ops_primary_id %}
            <a href="/users/{{project.ops_primary_id}}">{{project.ops_primary|fullname}}</a>
          {% endif %}
          {% if project.ops_secondary_id %}
            + <a href="/users/{{project.ops_secondary_id}}">{{project.ops_secondary|fullname}}</a>
          {% endif %}
        </td>
        <td>
          {% if project.dev_primary_id %}
            <a href="/users/{{project.dev_primary_id}}">{{project.dev_primary|fullname}}</a>
          {% endif %}
          {% if project.dev_secondary_id %}
            + <a href="/users/{{project.dev_secondary_id}}">{{project.dev_secondary|fullname}}</a>
          {% endif %}
        </td>
        <td>
         <div class="progress">
           <div class="progress-bar" role="progressbar"
                                     aria-valuenow="{{project|completion}}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width:{{project|completion}}%">
             {{project|completion}}%
            </div>
         </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
