<!DOCTYPE html>
<html>
  <head>
    <title>{{action}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/bookstyle.css' media='screen' rel='stylesheet' type='text/css'/>
  </head>
  <body>
    <div class="container">
      {% if existing %}
      <h2>Pick existing one</h2>
      <form action="{{form_action}}" method="POST">

        <ul class="checkbox" id="tags">
          {% for entry in existing %}
          <li><input name="picked_entry" value="{{entry.id}}" type="checkbox"> <label
              for="tags-0">{{entry|display_entry(target)}}</label></li>
          {% endfor %}
        </ul>
        <button type="submit" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-plus" aria-hidden="true">
          </span> Pick
        </button>
      {% endif %}
      <h2>Add a new entry</h2>
      {% include '_form.html' %}
    </div>
  </body>
</html>
