{% extends "base.html" %}
{% set title = '' %}
{% set subtitle = "" %}

{% block page %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Project</th>
        <th>People</th>
        <th>Builds</th>
        <th>Test Coverage</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
    {% for project in projects %}
      <tr>
        <td>
          {% if not project.public %}
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          {% endif %}
          <a href="/project/{{project.id}}">{{project.name}}</a>
        </td>
        <td>
          {% if project.qa_primary_id %}
            <a
              href="/user/{{project.qa_primary_id}}">{{project.qa_primary|fullname}}
            (QA)</a>
          {% endif %}
          {% if project.qa_secondary_id %}
            <a
              href="/user/{{project.qa_secondary_id}}">{{project.qa_secondary|fullname}}
            (QA)</a>
          {% endif %}
          {% if project.op_primary_id %}
            <a
              href="/user/{{project.op_primary_id}}">{{project.op_primary|fullname}}
            (OPS)</a>
          {% endif %}
          {% if project.op_secondary_id %}
             <a
              href="/user/{{project.op_secondary_id}}">{{project.op_secondary|fullname}}
            (OPS)</a>
          {% endif %}
          {% if project.dev_primary_id %}
            <a
              href="/user/{{project.dev_primary_id}}">{{project.dev_primary|fullname}}
              (Dev)
            </a>
          {% endif %}
          {% if project.dev_secondary_id %}
            <a href="/user/{{project.dev_secondary_id}}">{{project.dev_secondary|fullname}}
            (Dev)
            </a>
          {% endif %}
        </td>
      <td>
       <img src="/static/jenkins_success.png"/>
       <img src="/static/jenkins_success.png"/>
       <img src="/static/jenkins_success.png"/>
       <img src="/static/jenkins_failure.png"/>
       <img src="/static/jenkins_success.png"/>
      </td>
      <td>
        <div class="w3-progress-container">
          {% if project|completion < 30 %}
          <div class="w3-progressbar w3-red" style="width:{{project|completion}}%">
          {% endif %}
          {% if project|completion < 65 and project|completion > 30 %}
          <div class="w3-progressbar w3-blue" style="width:{{project|completion}}%">
          {% endif %}
          {% if project|completion > 65 %}
          <div class="w3-progressbar w3-green" style="width:{{project|completion}}%">
          {% endif %}
            <div class="w3-center w3-text-white">{{project|completion}}%</div>
          </div>
        </div>
      </td>
      <td>{{project.last_modified|humanize}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="/project" role="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a project
  </a>
</div>
{% endblock %}
