<!DOCTYPE html>
<html>
  <head>
  
    <title>Edit &#39;ABSearch&#39;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href='/static/css/bookstyle.css' media='screen' rel='stylesheet' type='text/css'/>
  <!-- should be in project ony page -->
  <link href='/static/css/circle.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>{{action}}</h1>
      </div>
      {% include '_form.html' %}
    </div>
  </body>
</html>
