{% extends "base.html" %}
{% set title = project.name %}
{% set subtitle = project.description %}


{% block page %}

<h3>
{% for tag in project.tags %}
<span class="label label-success">{{tag.name}}</span>
{% endfor %}
{% for lang in project.languages %}
<span class="label label-info">{{lang.name}}{% if lang.version %}&nbsp;{{lang.version}}{% endif %}</span>
{% endfor %}
</h3>

{% if project.long_description %}
{{project.long_description|markdown}}
{% endif %}

<div class="row">
 <div class="col-md-5">
     <h2>Tests</h2>
     <div class="list-group">
        {% for test in project.tests %}
          <div class="list-group-item {% if test.operational %}list-group-item-success{% else %}list-group-item-danger{% endif %}">
           <strong>{{test.name}}</strong>
           <a href="{{test.url}}">{{test.url}}</a>
        </div>
        {% endfor %}
     </div>
 </div>
 <div class="col-md-2">
    {% if jenkins_builds %}
    <h2><img src="/static/jenkins.png"/>&nbsp;Jenkins</h2>
    <ul class="list-unstyled">
        {% for build in jenkins_builds %}

        <li>
            {% if build['result'] == 'SUCCESS' %}
              <img src="/static/jenkins_success.png"/>
            {% else %}
              <img src="/static/jenkins_failure.png"/>
            {% endif %}
            <a href="{{build['url']}}">{{build['fullDisplayName']}}</a>
       </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if bugs != [] %}
    <h2>Bugzilla</h2>
    <ul class="list-unstyled">
        {% for bug in bugs %}
        <li><span class="badge">{{bug.status}}</span>
            <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}">
               {{bug.id}} {{bug.summary}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

  </div>
  <div class="col-md-5">
   <h2>Project Info</h2>
  <ul class="list-group">
      <li class="list-group-item"><em>Home page</em> <a href="{{project.homepage}}">{{project.homepage}}</a></li>
      {% for repo in project.repositories %}
      <li class="list-group-item"><em>Repository #{{loop.index}}</em>
        <a href="{{repo.url}}">{{repo.url}}</a>
      </li>
      {% endfor %}
     {% for role in ('qa_primary', 'qa_secondary', 'op_primary', 'op_secondary', 'dev_primary', 'dev_secondary') %}
       {% if role in project %}
       <li class="list-group-item">
         <em>{{role|translate}}</em>
         <a href="/users/{{project[role].id}}">
         <strong>{{project[role]|fullname}}</strong></a>
       </li>
       {% endif %}
     {% endfor %}

     <li class="list-group-item"><em>QA Group</em> <a href="/groups/{{project.qa_group.name}}"><strong>{{project.qa_group.name}}</strong></a></li>
     <li class="list-group-item"><em>IRC</em>
         {% if project.irc %}
         <strong>{{project.irc}}</strong>
         {% else %}
         <strong>Too many IRC channels already.</strong>
         {% endif %}
     </li>
     {% if project_info %}
     <li class="list-group-item">
       <span class="label label-success label-as-badge">{...}</span>
       <em>Project Contact</em>
       <a href="mailto:{{project_info['contact']['email']}}"><strong>{{project_info['contact']['name']}}</strong></a></li>
     <li class="list-group-item">
       <span class="label label-success label-as-badge">{...}</span>
       <em>Licence</em>
       <a href="{{project_info['license']['url']}}"><strong>{{project_info['license']['name']}}</strong></a></li>
     <li class="list-group-item">
       <span class="label label-success label-as-badge">{...}</span>
       <em>Homepage</em>
       <a href="{{project_info['x-mozilla-services']['homepage']}}">{{project_info['x-mozilla-services']['homepage']}}</a></li>
     {% endif %}

  </ul>
  </div>
  </div>

  <h2>Deployments</h2>

  {% for deployment in project.deployments %}
  <div class="panel panel-primary">
  <div class="panel-heading">
  <h2 class="panel-title">{{deployment.name}}  <span class="badge">v0.3.0</span>
    <span class="badge"><a href="/projects/{{project.id}}/deployments/{{deployment.id}}/edit">Edit</a></span>
    <span class="badge"><a href="/projects/{{project.id}}/deployments/{{deployment.id}}/delete">Remove</a></span>
  </h2>
  </div>
  <div class="panel-body">

   <ul class="list-group">
     <li class="list-group-item"><em>Endpoint</em> <a href="{{deployment.endpoint}}"><strong>{{deployment.endpoint}}</strong></a></li>
     <li class="list-group-item"><em>Deployment Date</em> <strong>11/10/2016</strong></li>
   </ul>

    <div class="btn-group" role="group">
        <a href="/actions/heartbeat?endpoint={{deployment.endpoint}}/__heartbeat__" role="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Hearbeat
     </a>
     <a href="/actions/swagger?endpoint={{deployment.endpoint}}/__api__" role="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Swagger
     </a>
     <a href="/actions/smoke?endpoint={{deployment.endpoint}}/__api__" role="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Smoke Test
     </a>
    </div>
  </div>
</div>

  {% endfor %}
  <div><a href="/projects/{{project.id}}/deployments" role="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a Deployment
 </a>
  </div>
</div>
{% endblock %}
